/* ------------Normalizer------------ */
        article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
        audio,canvas,video{display:inline-block}
        audio:not([controls]){display:none;height:0}
        [hidden]{display:none}
        html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
        body{margin:0}
        a:focus{outline:thin dotted}
        a:active,a:hover{outline:0}
        h1{font-size:2em;margin:0.67em 0}
        abbr[title]{border-bottom:1px dotted}
        b,strong{font-weight:bold}
        dfn{font-style:italic}
        hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
        mark{background:#ff0;color:#000}
        code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
        pre{white-space:pre-wrap}
        q{quotes:"\201C""\201D""\2018""\2019"}
        small{font-size:80%}
        sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
        sup{top:-0.5em}
        sub{bottom:-0.25em}
        img{border:0}
        svg:not(:root){overflow:hidden}
        figure{margin:0}
        fieldset{border:1px solid#c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
        legend{border:0;padding:0}
        button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
        button,input{line-height:normal}
        button,select{text-transform:none}
        button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
        button[disabled],html input[disabled]{cursor:default}
        input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
        input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
        input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
        button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
        textarea{overflow:auto;vertical-align:top}
        table{border-collapse:collapse;border-spacing:0}
        img,table,td,blockquote,code,pre,textarea,input,video{max-width:100%}
        div,textarea,table,td,th,code,pre,samp{word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;-o-hyphens:auto;hyphens:auto}
        img{width:auto;height:auto;vertical-align:middle}
        a img{border:0}
        .visualyhidden{text-indent:100%;white-space:nowrap;overflow:hidden}
        html{font-size:62.5%}
        body{background-color:#fff;color:#000;font-family:"Century Gothic",helvetica,arial,sans-serif;font-size:1.4em;line-height:1.5;overflow-x:hidden}
        p,ul,ol,dl,blockquote,pre,td,th,label,textarea,caption,details,figure,hgroup{font-size:1em;line-height:1.5;margin:1.5em 0 0}
        h1,.h1-like{font-size:1.8571em;font-weight:normal;line-height:1.6154em;margin:.8077em 0 0 0}
        h2,.h2-like{font-size:1.7143em;font-weight:normal;line-height:1.75em;margin:.875em 0 0 0}
        h3,.h3-like{font-size:1.5714em;font-weight:normal;line-height:1.909em;margin:.9545em 0 0 0}
        h4,.h4-like{font-size:1.4286em;font-weight:normal;line-height:1.05em;margin:1.05em 0 0 0}
        h5,.h5-like{font-size:1.2857em;font-weight:normal;line-height:1.1667em;margin:1.1667em 0 0 0}
        h6,.h6-like{font-size:1.1429em;font-weight:normal;line-height:1.3125em;margin:1.3125em 0 0 0}
        .smaller{font-size:.7143em;line-height:2.1em}
        .small{font-size:.8571em;line-height:1.75em}
        .big{font-size:1.1429em;line-height:1.3125em}
        .bigger{font-size:1.2857em;line-height:1.1667em}
        .biggest{font-size:1.4286em;line-height:1.05em}
        p:first-child,ul:first-child,ol:first-child,dl:first-child,blockquote:first-child,pre:first-child,h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child{margin-top:0}
        li p,li ul,li ol{margin-top:0;margin-bottom:0}
        .clear{clear:both}
        abbr[title]{border-bottom:1px dotted;cursor:help}
        blockquote{margin:.75em 0.75em 20px;padding:10px 0 10px 10px;border-left:solid 2px#ddd;border-bottom-left-radius:10px;border-top-left-radius:10px}
        q,cite{font-style:italic}
        q cite,q q{font-style:normal}
        pre,samp,kbd{font-family:consolas,monaco,"bitstream vera sans mono","courier new",courier,monospace;font-size:1em;overflow:auto;padding:5px 10px;border:1px solid#ddd;background:#333;color:#fff;white-space:pre;white-space:pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;white-space:-moz-pre-wrap;white-space:-hp-pre-wrap;word-wrap:break-word}
        code{font-family:monospace,serif;font-size:0.85em;overflow:auto;padding:5px 10px}
        sub,sup{position:relative;vertical-align:baseline}
        sup{top:-5px}
        sub{bottom:-5px}
        img{border:none;height:auto;max-width:100%}
        figure{margin:0}
        table{border-collapse:collapse;border-spacing:0;width:100%}
        caption,th,td{padding:5px}

        /*----------------------------*/
        height, body {
            height: 100%;
        }

        body {
            overflow: hidden;
        }
        .btn {
            display: inline-block;
            padding:5px;
            margin:5px;
            border:1px solid;
            border-radius: 5px;
            background: #FFF;
            background: #A9CCFB;
        }
        .btn.active {
            background: #FFF;
        }
        .btn a {
            text-decoration: none;
            color:#2D6AE9;
        }

        header {
            background-color: #569EE2;
            height:50px;
            z-index:1;
        }
        header ul {
            list-style: none;
        }
        header li { 
            display: inline-block;
            list-style: none;
        }
        .main {          
            position: relative;
            width:100%;
            overflow-y: auto;
            overflow-x:hidden;
        }
        aside {
            overflow-y: scroll;
            overflow-x: hidden;
            width:15%;
            float:left;
            background: #FFF;
            margin-right: 20px;
        }
        aside h2 {
            text-align: center;
        }
        .box .thumb {
           position: relative; 
           border:1px solid #A1A1A1;
           border-radius: 5px;
           margin:5px auto;
           width:80%;
           height:120px;
           font-size:0.4em;
           z-index: 1;
           background: #FFF;
           overflow: hidden;
        }
        h1.slide-number{
            left:5px;
        }
        h1.slide-number {
            font-size: 0.9em;
            margin-bottom:-1.2em;
        }
        section {
            width:100%;
            margin-left:15%;
            height: 700px;
            margin-bottom: 150px;
        }
        footer {
            position:fixed;
            bottom: 0;
            left:0;
            width:100%;
            height:30px;
            z-index:100;
            color:#FFF;
            background-color: #569EE2;
            padding: 5px;
        }
        .editor {
            display: block;
            position: static;
        }
        .editor:hover {
            cursor: pointer;
            background: #C1EE8D;
        }
        @media screen and (max-height:800px) {
            .main {
                height:645px;
            }
            aside {
                height:625px;
            }
        }
        form {
            display: flex;
            flex-wrap: wrap;
            width:80%;
            margin-bottom: 50px;
        }
        fieldset {
            flex-flow: row;
            flex-grow: 1;
            width:45%;
            margin:0 2% 0 0;
        }
        label {
            display: inline-block;
            width:250px;
        }
        .clear {
            position: absolute;
            top:-20px;
            left:85%;
            z-index:200;
        }
        button.jscolor {
            width:24px;
            height:24px;
            border:1px solid;
        }
        .red {
            color:red;
            font-size: 1.3em;
            cursor:help;
        }
        .rouge {
            color:#FF6636;
        }
        .vert {
            color:#30F230;
        }
        .class {
            color:#4EC2E9;
        }
        .right {
            float:right;
        }
        .danger {
            background-color: orange;
        }
        p code {
            margin:0;
            padding: 0;
            font-style: italic;
            color:#B90A16;
        }
        /*POPUP*/
        /* style untuk link popup */
        a.popup-link {
        }
        a.popup-link:hover {
        }
        /* end link popup*/

        /*style untuk popup */  
        #overlay,
        .popup {
            position: fixed;
            visibility: hidden;
            opacity: 0;
            margin-top: -200px;
        }
        #overlay,
        .popup:target {
            visibility:visible;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:0;
            z-index: 110;
            opacity: 1;
            
            background-color: rgba(0,0,0,0.8);
            -webkit-transition:all 1s;
            -moz-transition:all 1s;
            transition:all 1s;
        }

        @media (min-width: 768px){
            .popup-container {
                width:700px;
            }
            .popup-form .switch label span {
                width:500px;
            }
        }
        @media (max-width: 767px){
            .popup-container {
                width:100%;
            }
            .popup-form .switch label span {
                min-width:260px;
            }
        }
        #postit {
            display: block;
            position:fixed;

            width:400px;
            height:200px;
            line-height: 200px;

            margin:auto auto;
            padding:0;

            z-index: 111;

            top:30%;
            left:35%;

            background-color: #FAE45A;
            color:#333;
            border-radius: 3px;
            border:4px solid #FF701E;
            text-align: center;
            font-size: 2em;

        }
        .popup-container {
            position: relative;
            margin:7% auto;
            padding:0;
            max-height: 70%;
            background-color: #fafafa;
            color:#333;
            border-radius: 3px;
        }
        .popup-content {
            position:relative;
            height:400px;
            max-height: 400px;
            min-height: 400px;
            overflow-y: auto; 
            overflow-x:hidden;
            margin:auto 0 auto 20px;
            padding-right: 45px;
        }
        .popup-content p:last-of-type {
            padding-bottom: 20px;
        }
        a.popup-mask,
        a.popup-close {
            position: absolute;
            top:0;
            right:13px;
            padding:7px 10px;
            
            background-color: #333;
            font-size: 20px;
            text-decoration: none;
            line-height: 1;
            color:#fff;
        }
        a.popup-mask {
            top:263px;
        }
        .popup-form {
            position:relative;
            margin:0 auto 10px auto;
            padding:0 20px;
            right:-50px;
        }
        .popup-form h2 {
            margin-bottom: 5px;
            font-size: 37px;
            text-transform: uppercase;
        }
        .popup-form ul {
            position: relative;
            max-height: 200px;
            overflow-y: auto;
            border-bottom: 20px solid #fff;
        }
        .popup-form ul li {
            list-style-type: none;
            margin-left: -35px;
        }
        .popup-form .input-group {
            margin:10px auto;
        }
        .popup-form .input-group input:focus {
            outline-color:#FB8833; 
        }
        .popup-form .input-group input[type="email"] {
            border:0px;
            position: relative;
        }
        .popup-form .input-group input[type="submit"] {
            background-color: #FB8833;
            color: #fff;
            border: 0;
            cursor: pointer;
        }
        .popup-form .input-group input[type="submit"]:focus {
            box-shadow: inset 0 3px 7px 3px #ea7722;
        }
        .submit {
            text-align: center;
        }
        .notice {
            padding:1px 0 10px 30px;
            margin: 0 auto 50px auto;
            background-color: #FFE4B5;
        }
        #content .notice h2.add {
            margin-bottom: 0;
        }

        .infobulle {
            position: relative;  /* les .infobulle deviennent référents */
            cursor: help;  
            border-radius: 50%;
        }

        /* on génère un élément :after lors du survol et du focus :*/

        .infobulle:hover::after,
        .infobulle:focus::after {
            content: attr(aria-label);  /* on affiche aria-label */
            position: absolute;
            top: -2.4em;
            left: 50%;
            transform: translateX(-50%); /* on centre horizontalement  */
            z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
            white-space: nowrap;  /* on interdit le retour à la ligne */
            padding: 5px 14px;
            background: #413219;
            color: #fff;
            border-radius: 4px;
            font-size: 1.2rem;
        }

        /* on génère un second élément en :before pour la flèche */

        [aria-label]:hover:before,
        [aria-label]:focus:before {
            content: "▼";
            position: absolute;
            top: -1em;
            left: 50%;
            transform: translateX(-50%); /* on centre horizontalement  */
            font-size: 20px;
            color: #413219;
        }

        /* pas de contour durant le :focus */
        [aria-label]:focus {
            outline: none;
        }
        /* /POPUP*/

        /* MENU CONTEXTUEL*/
        .menu
        {
          position:absolute;    
          min-width: 128px;
          height:auto;
          padding: 8px;
          margin:0;
          margin-left:0px;
          margin-top:-10px;
          border: 1px solid #999;
          background: #F8F8F8;
          box-shadow: 2px 2px 2px #AAA;
          z-index:999;
          overflow: visible;
          list-style: none;
        }
        .menutitle {
            padding:5px;
            text-align: center;
            cursor: auto;
            color:rgba(192,192,206,1);
        }
        .menuitem
        {
          display:block;
          margin:0px;
          padding:2px 2px 2px 8px;
          border:1px solid #F8F8F8;
          border-radius:3px;
          font-size:13px;
          font-family:Arial, Helvetica, sans-serif;
          overflow:visible;
        }
        .menuitem:hover
        {
          border:1px solid #BBB;
          background-color: #F0F0F0;
          background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
          background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
          background-image: -webkit-gradient(linear, 0 0, 0 100%,
            from(#ffffff), to(#e6e6e6));
          background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
          background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
          background-image: linear-gradient(top, #ffffff, #e6e6e6);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
            endColorstr='#e6e6e6', GradientType=0);
        }
        .hide {
            display: none;
        }
        .show {
            display: block;
        }