<h2>Description de l'interface</h2>
<p>Le contenu des diapositives est saisi dans le premier formulaire, le deuxième formulaire servant à enregistrer les notes relatives à la diapositive en cours.</p>
<p>Le panneau de gauche liste l'ensemble des diapositives disponibles et montre un aperçu de leur contenu. Cet aperçu n'est mis à jour que lors de l'enregistrement de la diapositive en cours.</p>
<h2>Ajouter une diapositive</h2>
<p>Lorsque la présentation ne contient pas de diapositive, il suffit de remplir le premier formulaire et de l'enregistrer en appuyant sur l'icône en forme de disquette (la première icône de la deuxième ligne de l'éditeur).</p>
<p>Lorsque la présentation en contient plusieurs, un clic droit sur n'importe laquelle des miniatures fait apparaître un menu contextuel permettant l'ajout d'une diapositive ou la duplication, le renommage ou la suppression de la diapositive sur laquelle on a cliqué. Le bouton en forme de disquette fonctionne également.</p>
<p>Un clic directement sur la miniature d'une diapositive permet de la modifier.</p>
<h2>La présentation : génération et sauvegarde</h2>
<p>Le bouton "Aperçu" génère et affiche la présentation dans un nouvel onglet.</p> 
<p>La première diapositive affiche le nom de la présentation, le nom de l'auteur et l'entreprise de ce dernier, si ces renseignements ont été préalablement enregistrés via le panneau de paramétrage. Sinon, c'est une diapositive vide qui sera affichée.</p>
<p>Le pied de page est également automatiquement généré via les renseignements du panneau de paramétrage.</p>
<p>La présentation peut alors être enregistrée en faisant un clic droit sur la page et en sélectionnant "Enregistrer sous".</p>
<p>Une autre manière d'enregistrer la présentation est de cliquer sur "Télécharger". Une archive zip est alors créée, ce qui facilite son déplacement (un seul fichier contrairement à la méthode "Enregistrer sous" qui génère un fichier et un dossier).</p>
<h2>Effet possible durant la présentation</h2>
<p>Il est possible d'ajouter un mode incrémental durant la présentation, qui permet d'afficher les éléments d'une diapositive les uns après les autres. Par défaut, dans une liste textuelle, par exemple, l'élément en cours est rouge brique, les élements lus ont une police plus grasse que les éléments à venir dont l'opacité est réduite.</p>
<p>Ces couleurs peuvent être modifiées via la feuille de style générée via le panneau de paramétrage.</p>
<p>Pour obtenir cet effet, il suffit d'ajouter une classe <code>incremental</code> au container parent (dans le cas d'une liste par exemple) ou à chaque éléments à afficher (pour des images par exemple qui ne seraient pas dans une liste).</p>
<p>L'ajout de la classe <code>show-first</code> à l'élément parent d'un container permet de mettre le premier élément comme lu.</p>
<p>L'ajout des classes se fait en cliquant sur le bouton <code>HTML</code> de l'éditeur qui affiche alors le balisage du texte.<br/>Pour revenir au mode normal, il suffit de cliquer sur le bouton <code>TEXT</code>.</p>
<p>Un moyen plus simple est d'utiliser les boutons de l'éditeur pour les listes et le bouton d'ajout d'image pour les images.<br/>Il faut alors ajouter la classe désirée dans le formulaire dédié.</p>
<h3>Exemples</h3>
<h4>Mode incremental avec premier élément mis en évidence</h4>
<pre><code>
    &lt;h1&gt;Incremental Display&lt;/h1&gt;
    &lt;ul <span class="class">class="</span><span class="vert">incremental</span> <span class="rouge">show-first</span><span class="class">"</span>&gt;
        &lt;li&gt;Keep hitting/clicking "next" as long as it isn't the control link (&raquo;)&lt;/li&gt;
        &lt;li&gt;Bullet points are revealed one by one
            &lt;ul class="incremental"&gt;
                &lt;li&gt;All based on class name of &lt;code&gt;inc&lt;/code&gt;&lt;/li&gt;
                &lt;li&gt;Lists can be classed to make items appear individually&lt;/li&gt;
                &lt;li&gt;Individual items can be classed as well to create "animations"; see &lt;a href="http://boxofchocolates.ca/projects/s5-incremental-graphics/" rel="external"&gt;Derek Featherstone's example&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li&gt;Let's try it again, but without the first bullet point being pre-highlighted...&lt;/li&gt;
    &lt;/ul&gt;
</code></pre>
<h4>Mode incremental simple</h4>
<pre><code>
    &lt;h1&gt;Incremental Display II&lt;/h1&gt;
    &lt;ul <span class="class">class="</span><span class="vert">incremental</span><span class="class">"</span>&gt;
        &lt;li&gt;Keep hitting/clicking "next" as long as it isn't the control link (&raquo;)&lt;/li&gt;
        &lt;li&gt;Bullet points are revealed one by one
            &lt;ul&gt;
                &lt;li&gt;All based on class name of &lt;code&gt;incremental&lt;/code&gt;&lt;/li&gt;
                &lt;li&gt;Lists can be classed to make items appear individually&lt;/li&gt;
                &lt;li&gt;Individual items can be classed as well to create "animations"; see &lt;a href="http://boxofchocolates.ca/projects/s5-incremental-graphics/" rel="external"&gt;Derek Featherstone's example&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li&gt;Notice how the sub-list was part of the parent bullet point; that was done on purpose&lt;/li&gt;
        &lt;li&gt;Now to move on to other test slides!&lt;/li&gt;
    &lt;/ul&gt;
</code></pre>
<h4>Mode incremental sur des images</h4>
<pre><code>
    &lt;h1&gt;Incremental S5 Themes&lt;/h1&gt;
    &lt;p class="imgcon"&gt;
        &lt;img src="pix/S501.jpg" alt="" title="Default" <span class="class">class="</span><span class="vert">incremental</span><span class="class">"</span> /&gt;
        &lt;img src="pix/S502.jpg" alt="" title="I18N" <span class="class">class="</span><span class="vert">incremental</span><span class="class">"</span> /&gt;
        &lt;img src="pix/S503.jpg" alt="" title="Blue" <span class="class">class="</span><span class="vert">incremental</span><span class="class">"</span> /&gt;
        &lt;img src="pix/S504.jpg" alt="" title="Flower" <span class="class">class="</span><span class="vert">incremental</span><span class="class">"</span> /&gt;
        (one by one!)
    &lt;/p&gt;
</code></pre>
<h2>Le bouton réinitialisation</h2>
<p>Un clic sur ce bouton supprime tous les élements de la présentation et la présentation elle-même. Cette action est <strong><u>irréversible.</u></strong></p>