/********************************************************************
 * openWYSIWYG stylesheet file Copyright (c) 2006 openWebWare.com
 * Contact us at devs@openwebware.com
 * This copyright notice MUST stay intact for use.
 *
 * $Id: wysiwyg.css,v 1.2 2007/01/29 19:19:49 xhaggi Exp $
 ********************************************************************/
.tableTextareaEditor td {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
	padding:0;
	border:none;
	color:#000;
}
/* Toolbar */
.toolbar1   { 
	height: 26px;
	background-image: url(../images/background_silver.jpg);
	cursor: pointer; 
}
/*.toolbar1   { height: 26px; background-color: #F4F4F4; border-bottom:1px solid #C9C9C9; }*/

/* Command Buttons */
.buttonEditor     { 
	width: 20px; 
	height: 20px; 
	border: 0px solid transparent; 
	margin: 1px; 
	padding: 0px; 
	background: transparent;
}
.buttonEditorOver { 
	width: 20px; 
	height: 20px; 
	border: 1px solid #999; 
	margin: 0; 
	padding: 0px; 
}

/* Table Textarea */
.tableTextareaEditor { 
	border: 1px solid #ccc; 
}
.iframeText {
	background-color: #FFF;
}

/* Status Bar */
.wysiwyg-statusbar {
	font-family: Arial; 
	font-size: 9px; 
	background-color: #EEE;
}
a.wysiwyg-statusbar {
	font-family: Arial; 
	font-size: 9px; 
	color: #000; 
	text-decoration:none;
}
a.wysiwyg-statusbar:hover {
	font-family: Arial; 
	font-size: 9px; 
	color: #000; 
	text-decoration:underline;
}

/* Font Type and Size Drop Down */
.dropdown { 
	background-color: #FFF; 
	border: 1px solid #333; 
	height: 140px; 
	overflow: auto; 
	padding: 1px;
}
.dropdown h1,
.dropdown h2,
.dropdown h3,
.dropdown h4,
.dropdown h5,
.dropdown h6,
.dropdown h7 {
	color:inherit;
	text-decoration: none;
	padding:0;
	border:none;
}
button.mouseOver { 
	background-color: #ccc;
	border: 1px solid #CCC;
	padding: 3px; 
	cursor: default; 
	text-align: left;
}
button.mouseOut{ 
	background-color: #FFF;
	border: 1px solid #FFF; 
	padding: 3px; 
	cursor: default; 
	text-align: left;
}

/* Context Menu */
.wysiwyg-context-menu-div { 
	background-color:#F4F4F4; 
	border: 1px solid #C9C9C9; 
	width:230px; 
}
.wysiwyg-context-menu { 
	font-family: Arial; 
	font-size:11px; 
	color:#000; 
	width:100%;
}
.wysiwyg-context-menu td { 
	border:none; 
	padding:0;
	margin:0;
}
.wysiwyg-context-menu .icon {
	background-color:#EEE;
	padding-left: 10px;
	text-align: left;
}
.wysiwyg-context-menu .disabled { 
	font-family: Arial; 
	font-size:11px; 
	color:#999; 
	text-decoration:none; 
	text-align: left;
	padding-left: 0px; 
}
.wysiwyg-context-menu a { 
	font-family: Arial; 
	font-size:11px; 
	color:#000; 
	text-decoration:none; 
	text-align: left;
	padding-left: 3px;
}
.wysiwyg-context-menu .mouseover {
	background-color: #EEE;
}

/* CREATE TABLE POPUP */

/* Select Border Width/Type */
.on   { 
	background-color: #EEE; 
	border: 1px solid #CCC;
	padding: 6px; 
	width: 140px; 
	cursor: default; 
	height: 5px;
}
.off  { 
	background-color: #FFF; 
	border: 1px solid #FFF; 
	padding: 6px; 
	width: 140px; 
	cursor: default; 
	height: 5px;
}

/* Select Shading/Border Color */
.wysiwyg-color-picker-table  { 
	border: 1px solid #7E7E81; 
	background-color: #F7F7F7; 
	padding: 1px; 
}
.wysiwyg-color-picker-div { 
	font-size: 1px; 
	height:12px; 
	width:12px; 
}
.selectColorBorder { 
	border: 1px solid #F7F7F7; 
}
.selectColorOn { 
	border: 1px solid #999;
	background-color: #CCC; 
}
.selectColorOff { 
	border: 1px solid #F7F7F7; 
	background-color: #F7F7F7;
}